@{
    ViewData["Title"] = "Početna";
}



<section class="hero-section main ">
    <div class="heading text-center">
        <h1 >Prodavnica sunčanih naočara</h1>  
        <h4>Sunčane naočare za svaku priliku</h4>
        @if(User.IsInRole("Admin"))
        {
            <h4>Admin</h4>
        }
        else if(User.IsInRole("User")) {
            <h4>Korisnik</h4>
            
        }
    </div>
    <div class="button-wrapper">
        <button class="btn btn-primary shadow">Katalog</button>
    </div>
</section>




