@{
    ViewData["Title"] = "Početna";
}



<section class="hero-section main ">
    <div class="heading text-center">
        <h1 >Prodavnica sunčanih naočara</h1>  
        <h4>Sunčane naočare za svaku priliku</h4>
       
    </div>
    <div class="button-wrapper">
        <a asp-action="Index" asp-controller="Customer" class="btn text-white p-3 bg-body shadow rounded-pill btn-hover ">Katalog</a>
    </div>
</section>




