@{
    ViewData["Title"] = "Početna";
}



<section class="hero-section main ">
    <div class="heading text-center">
        <h1 >Prodavnica naočara</h1>
        <h4>Sunčane naočare za svaku priliku</h4>
    </div>
    <div class="button-wrapper">
        <button class="btn btn-primary">Katalog</button>
    </div>
</section>







@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
