@using Microsoft.AspNetCore.Identity
@using SunglassesApp.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var currUser = await UserManager.GetUserAsync(User);
    var currUserId = "";
    if(currUser != null)
        currUserId = currUser.Id;
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Admin" asp-controller="Product" asp-action="Index" title="Manage">Pozdrav @User.Identity?.Name!</a>
            </li>
        }
        else
        {
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    @User.Identity?.Name!
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item " asp-action="Index" asp-controller="Cart">Korpa</a></li>
                    <li><a class="dropdown-item  " asp-action="UserOrders" asp-controller="Order">Pregled porudzbina</a></li>
                    <li><a class="dropdown-item " asp-action="UserTickets" asp-controller="Contact" >Pregled tiketa</a></li>
                    
                </ul>
            </div>
        }

    <li class="nav-item">
        <form  class="form-inline" asp-controller="Account" asp-action="Logout">
            <button  type="submit" class="nav-link btn btn-link text-light">Odjava</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Account" asp-action="Register" >Registracija</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Account" asp-action="Login">Prijava</a>
    </li>
}
</ul>
