
@{
    Layout = "_AdminLayout";
}

<h1>Proizvodi</h1>

<div class="container">
    
        <div class="card mt-4 bg-gray">
            <div class="card-header  text-center text-light bg-gray">
                <h5 class="mb-0"><i class="fas fa-trophy me-2"></i>Tabela svih proizvoda sa lagera</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive  border-top rounded-top">
                    <table class="table table-hover table-secondary ">
                        <thead class="table-dark text-light">
                            <tr>
                                <th>#</th>
                                <th>Proizvod</th>
                                <th>Brend</th>
                                <th>Prodatih komada</th>
                                <th>Ukupna zarada</th>
                                <th>Izmeni</th>
                                <th>Obriši</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Ray-Ban Aviator</td>
                                <td>Ray-Ban</td>
                                <td>156</td>
                                <td>1.245.600 RSD</td>
                                <td><span class="badge bg-warning text-dark">4.7 <i class="fas fa-delete"></i></span></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Oakley Holbrook</td>
                                <td>Oakley</td>
                                <td>128</td>
                                <td>987.200 RSD</td>
                                <td><span class="badge bg-warning text-dark">4.5 <i class="fas fa-star"></i></span></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Ray-Ban Aviator</td>
                                <td>Ray-Ban</td>
                                <td>156</td>
                                <td>1.245.600 RSD</td>
                                <td><span class="badge bg-warning text-dark">4.7 <i class="fas fa-star"></i></span></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Ray-Ban Aviator</td>
                                <td>Ray-Ban</td>
                                <td>156</td>
                                <td>1.245.600 RSD</td>
                                <td><span class="badge bg-warning text-dark">4.7 <i class="fas fa-star"></i></span></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Ray-Ban Aviator</td>
                                <td>Ray-Ban</td>
                                <td>156</td>
                                <td>1.245.600 RSD</td>
                                <td><span class="badge bg-warning text-dark">4.7 <i class="fas fa-star"></i></span></td>
                            </tr>
                        
                        </tbody>
                        
                    </table>
                    
                </div>
                
            </div>
            
        </div>
        

</div>

