@using SunglassesApp.ViewModels
@{
    Layout = "_AdminLayout";
}

@model PromotionViewModel;


<div class="container-md">
    @using (Html.BeginForm("AddPromotion", "Promotion", FormMethod.Post, new
    {
        @class = "needs-validation dark-gradient rounded-3 p-5 shadow",
        novalidate = "novalidate"
    }))
    {
        <h1>Dodaj promociju</h1>
        @Html.AntiForgeryToken()

        <div class="form-group-wrapper">
            @Html.LabelFor(m => m.Name, new {@class = "form-label text-light"})
            @Html.TextBoxFor(m => m.Name, new {@class = "form-control bg-secondary text-light shadow"})
            @Html.ValidationMessageFor(m => m.Name, "", new {@class = "text-danger"})
        </div>
    }
</div>